@using Microsoft.AspNetCore.Mvc.Localization
@using SchoolRegister.ViewModels.VM
@model IEnumerable<SubjectVm>
@inject IViewLocalizer Localizer
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Groups.Count)
        </td>

        <td>
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="AddOrEditSubject" asp-route-id="@item.Id">@Localizer["Edit"]</a> @:|
                <a asp-controller="Group" asp-action="AttachSubjectToGroup" asp-routesubjectId="@item.Id">@Localizer["AttachToGroup"]</a> @:|
                <a asp-controller="Group" asp-action="DetachSubjectToGroup" asp-routesubjectId="@item.Id">@Localizer["DetachFromGroup"]</a> @:|
            }
            <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
        </td>
    </tr>
}