@using SchoolRegister.ViewModels.VM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<SubjectVm>
@{
    ViewData["Title"] = Localizer["Subject"];
}
 
 
 @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                <td>                             
                    @Html.DisplayFor(modelItem => item.Groups.Count)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="AddOrEditSubject" asp-route-id="@item.Id">@Localizer["Edit"]</a> @:|
                        <a asp-controller="Group" asp-action="AttachSubjectToGroup" asp-route-subjectId="@item.Id">@Localizer["Attach"]</a> @:|
                        <a asp-controller="Group" asp-action="DetachSubjectToGroup" asp-route-subjectId="@item.Id">@Localizer["Detach"]</a> @:|
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a> 
                </td>
            </tr>
        }