@model IEnumerable<SchoolRegister.ViewModels.VM.SubjectVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["Subject"]</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrEditSubject">@Localizer["CreateNew"]</a>
    </p>
}

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input type="text" class="subjects-filter-input form-control" placeholder="filter" />
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.Name)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.Description)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.TeacherName)]
            </th>
            <th>
                @Localizer["GroupCount"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="subjects-table-data">
        <partial name="_SubjectsTableDataPartial" model="Model" />
    </tbody>
</table>
