@model IEnumerable<SchoolRegister.ViewModels.VM.SubjectVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Subject"];
}
<h1>@Localizer["Subject"]</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrEditSubject">@Localizer["CreateNew"]</a>
    </p>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Desc"]
            </th>
            <th>
                @Localizer["Teacher"]
            </th>
            <th>
                @Localizer["Count"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groups.Count)
            </td>
            <td>
               @if (User.IsInRole("Admin"))
                {
                    <a asp-action="AddOrEditSubject" asp-route-id="@item.Id">@Localizer["Edit"]</a> @:
                }
            </td>
        </tr>
}
    </tbody>
</table>
