@using SchoolRegister.ViewModels.VM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<SubjectVm>
@{
    ViewData["Title"] = Localizer["Subject"];
}
<h2>@Localizer["Subject"]</h2>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input class="subjects-filter-input form-control" type="text" placeholder="filter"/>
        </div>
    </div>
</div>



@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrEditSubject">@Localizer["Create New"]</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.Name)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.Description)]
            </th>
            <th>
                @Localizer[@Html.DisplayNameFor(model => model.TeacherName)]
            </th>
            <th>
                <label>@Localizer["Groups Count"]</label>
            </th>
        </tr>
    </thead>                 
    <tbody class="subjects-table-data">
         <partial name="_SubjectsTableDataPartial" model="Model" />  
    </tbody>             
</table>