@model IEnumerable<SchoolRegister.ViewModels.VM.SubjectVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Subject"];
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input class="subjects-filter-input form-control" type="text" placeholder="Filter" />
        </div>
    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrEditSubject">@Localizer["CreateNew"]</a>
    </p>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Desc"]
            </th>
            <th>
                @Localizer["Teacher"]
            </th>
            <th>
                @Localizer["Count"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="subjects-table-data">
        <partial name="_SubjectsTableDataPartial" model="Model" />
    </tbody>
</table>
