@model IEnumerable<SchoolRegister.ViewModels.VM.GroupVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Group"];
}

<h1>@Localizer["Group"]</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrRemoveGroup">@Localizer["CreateNew"]</a>
    </p>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Id"]
            </th>
            <th>
                @Localizer["Name"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="AddOrRemoveGroup" asp-route-id="@item.Id">@Localizer["Remove"]</a> @:
                }
            </td>
        </tr>
}
    </tbody>
</table>
