@model IEnumerable<SchoolRegister.ViewModels.VM.GroupVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Group</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrRemoveGroup">Create New</a>
    </p>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="AddOrRemoveGroup" asp-route-id="@item.Id">Remove</a> @:
                }
            </td>
        </tr>
}
    </tbody>
</table>
