@model IEnumerable<SchoolRegister.ViewModels.VM.GroupVm>

@{
    ViewData["Title"] = "Groups";
}

<h2>Group</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddOrEditGroup">Create New</a>
    </p>
}

<table id="tabela" class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-4">

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="d-none">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-4 align-middle text-right">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @if (User.IsInRole("Admin"))
                            {
                                <a class="dropdown-item" asp-action="AddOrEditGroup" asp-route-id="@item.Id">Edit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-action="Delete" asp-route-groupId="@item.Id">Delete</a>
                                <div class="dropdown-divider"></div>
                            }

                            <a class="dropdown-item" asp-action="Details" asp-route-groupId="@item.Id">
                                Details
                            </a>
                        </div>
                    </div>


                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="Modalpopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">

    </div>
</div>