@page
@model PersonalDataModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Personal"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@Localizer["Personal"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer["Desc"]</p>
        <p>
            <strong>@Localizer["Warn"]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">@Localizer["Download"]</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
