@page
@model RegisterNewUsersDataModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Register"];
    ViewData["ActivePage"] = ManageNavPages.RegisterNewUsers;
}
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h5>@Localizer["Create"]</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">E-mail</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">@Localizer["Password"]</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">@Localizer["ConfPass"]</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName">@Localizer["FName"]</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName">@Localizer["LName"]</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Localizer["Role"]</label>
                <select asp-for="Input.RoleId" class="form-control" asp-items="@ViewData["Roles"] as IEnumerable<SelectListItem>"></select>
                <span asp-validation-for="Input.RoleId" class="text-danger"></span>
            </div>
            <div class="student-selected">
                <div class="form-group">
                    <label>@Localizer["Group"]</label>
                    <select asp-for="Input.GroupId" class="form-control" asp-items="@ViewData["Groups"] as IEnumerable<SelectListItem>"></select>
                    <span asp-validation-for="Input.GroupId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>@Localizer["Parent"]</label>
                    <select asp-for="Input.ParentId" class="form-control" asp-items="@ViewData["Parents"] as IEnumerable<SelectListItem>"></select>
                    <span asp-validation-for="Input.ParentId" class="text-danger"></span>
                </div>
            </div>
            <div class="teacher-selected">
                <div class="form-group">
                    <label asp-for="Input.TeacherTitles">@Localizer["TTitles"]</label>
                    <input asp-for="Input.TeacherTitles" class="form-control" />
                    <span asp-validation-for="Input.TeacherTitles" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Conf"]</button>
        </form>
    </div>
</div>
@section Scripts {
@* <partial name="_ValidationScriptsPartial" /> *@
<script>
        jQuery(document).ready(function () {
            $(".student-selected, .teacher-selected").hide();
        });
        jQuery("#Input_RoleId").change(function (data) {
            $(".student-selected, .teacher-selected").hide(500);
            if ($(this).find(":selected").text() === "Teacher") {
                $(".teacher-selected").show(500);
            }
            if ($(this).find(":selected").text() === "Student") {
                $(".student-selected").show(500);
            }
        });
    </script>
}
