@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<StudentVm>


@foreach (var item in Model)
{
    <tr>
        <td class="d-none">
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td class="align-middle text-right">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Manage"]
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="dropdown-item modalLink" href="#">
                            @Localizer["Delete"]
                        </a>
                        <div class="dropdown-divider"></div>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Parent"))
                    {
                        <a class="dropdown-item" asp-action="Details" asp-route-studentId="@item.Id">
                            @Localizer["Details"]
                        </a>
                        @if (!User.IsInRole("Parent"))
                        {
                            @if (User.IsInRole("Teacher"))
                            {
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Grade" asp-action="AddGradeToStudent"
                                   asp-route-studentId="@item.Id">
                                    @Localizer["AddrGrade"]
                                </a>
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Group" asp-action="AttachStudentToGroup"
                               asp-route-studentId="@item.Id">
                                @Localizer["AttachToGroup"]
                            </a>
                            @if (item.GroupId != null)
                            {
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Group" asp-action="DetachStudentFromGroup"
                                   asp-route-studentId="@item.Id">
                                    @Localizer["DetachFromGroup"]
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </td>
    </tr>
}