@using SchoolRegister.Model.DataModels
@using SchoolRegister.ViewModels.VM
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model GradesRaportVm
@{
    ViewData["Fname"] = $"{ViewBag.FirstName}";
    ViewData["Lname"] = $"{ViewBag.LastName}";
    ViewData["Title"] = @Localizer["Grades"];
}
<h2>@ViewData["Fname"] @ViewData["Lname"] @Localizer["Grade"]</h2>
<div>
<table>
    <partial name="_partialDetails" model="@Model.StudentGradesPerSubject"/>
</table>
</div>
<hr/>
<h4>@Localizer["Avg"]: @Html.DisplayFor(model => model.AverageGrade)</h4>
@if (!User.IsInRole("Student"))
{
<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>
}