@model IEnumerable<SchoolRegister.ViewModels.VM.StudentVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}


<h1>Student</h1>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input type="text" class="students-filter-input form-control" placeholder="filter" />
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.FirstName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.LastName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.ParentName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.ParentId)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.GroupName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.AverageGrade)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.UserName)]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="students-table-data">
        <partial name="_StudentsTableDataPartial" model="Model" />
    </tbody>
</table>
