@model IEnumerable<SchoolRegister.ViewModels.VM.StudentVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Student"];
}

<h1>@Localizer["Student"]</h1>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <input class="students-filter-input form-control" type="text" placeholder="Filter" />
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Admin"))
            {
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            }
            <th>
                @Localizer["FirstName"]
            </th>
            <th>
                @Localizer["LastName"]
            </th>
            <th>
                @Localizer["Parent"]
            </th>
            @if (User.IsInRole("Admin"))
            {
            <th>
                @Localizer["ParentId"]
            </th>
            }
            <th>
                @Localizer["Group"]
            </th>
            <th>
                @Localizer["Avg"]
            </th>
            @if (User.IsInRole("Admin"))
            {
            <th>
                @Localizer["UserName"]
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody class="students-table-data">
        <partial name="_StudentsTableDataPartial" model="Model" />
    </tbody>
</table>
