@model IEnumerable<SchoolRegister.ViewModels.VM.StudentVm>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}


<h1>Student</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.FirstName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.LastName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.ParentName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.ParentId)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.GroupName)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.AverageGrade)]
            </th>
            <th>
                @Localizer[Html.DisplayNameFor(model => model.UserName)]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageGrade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (User.IsInRole("Student") || User.IsInRole("Parent"))
                    {
                        <a asp-action="ShowGrades" asp-route-id="@item.Id">@Localizer["ShowGrades"]</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="AddToGroup" asp-route-id="@item.Id">@Localizer["AddToGroup"]</a> @: |
                        <a asp-action="RemoveFromGroup" asp-route-id="@item.Id">@Localizer["RemoveFromGroup"]</a>
                    }
                    @if (User.IsInRole("Teacher"))
                    {
                        <a asp-action="AddGradeToStudent" asp-route-id="@item.Id">@Localizer["AddGrade"]</a> @: |
                        <a asp-action="SendEmailToParent"
                    asp-route-parentId="@item.ParentId">@Localizer["SendEmailToParent"]</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
